.calendar-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #2d6cdf;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 2px;
}

.event-list {
  margin-top: 20px;
  padding: 10px;
  background: #f4f4f4;
  border-radius: 6px;
}
/* Підсвічування днів з обробками */
.react-calendar__tile.highlight {
  background: #cce5ff !important;
  border-radius: 50%;
  font-weight: bold;
  color: #003366;
}
